/*Saúl Martín Fernández UO294936*/

/*
    Especificidad: (0, 0, 1) = 1
    (Section para las tarjetas de meteorología y noticias)
*/
section {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
    box-sizing: border-box;
}

/*
    Especificidad: (0, 0, 2) = 2
*/
section > h3 {
    width: 100%;
    text-align: center;
    flex: none;
}

/*
    Especificidad: (0, 0, 2) = 2
    (Tarjeta meteorología y noticia)
*/
section article {
    flex: 1 1 19%;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 0.2em 1em;
    gap: 0.1em;
    border: 0.2em solid #9A2F2D;        /*Color heredado de body (#000000)*/
    background-color: #EFEFEF;
    border-radius: 5%;
    height: 37em;
}

/*
    Especificidad: (0, 0, 3) = 3
    (Icono meteorología)
*/
article h4 + img {
    max-width: 50%;
    width: 12em;
    height: auto;
}


/* 
   Especificidad: (0, 0, 3) = 3  
   (Article para inputs de creación manual de noticia)
*/
main > h2 + article {
    max-width: 40em;
    margin: 2em auto;
    padding: 2em;
    background-color: #EFEFEF;
    border-radius: 0.75em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

/*
    Especificidad: (0, 0, 4) = 4
    (Header para la creación manual de noticia)
*/
main > h2 + article > h4 {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
    border-bottom: 0.125em solid #282626;
    padding-bottom: 0.5em;
}

/*
    Especificidad: (0, 0, 4) = 4
    (Label para la creación manual de noticia)
*/
main > h2 + article label {
    display: block;
    margin-bottom: 1em;
    color: #34495e;
    font-size: 1em;
}

/*
    Especificidad: (0, 0, 4) = 4
    (Input y textarea para la creación manual de noticia)
*/
main > h2 + article input[type="text"],
main > h2 + article textarea {
    width: 100%;
    padding: 0.75em;
    margin-top: 0.5em;
    border: 0.125em solid #EFEFEF;
    border-radius: 0.5em;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

/*
    Especificidad: (0, 0, 4) = 4
    (Botón para la creación manual de noticia)
*/
main > h2 + article button {
    display: block;
    width: 100%;
    padding: 1em;
    background-color: #9A2F2D;
    color: white;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}