/*Saúl Martín Fernández UO294936*/

/*
    Especificidad: (0, 0, 1) = 1
*/
section {
    width: 80%;
    height: 80%;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 1em;
    align-items: center;
}

/*
    Especificidad: (0, 0, 1) = 1
*/
h3 {
    grid-column: 1 / -1;
    text-align: center;
}

/*
    Especificidad: (0, 0, 2) = 2
*/
section article {
    display: grid;
    padding: 2em 2em 0.5em 2em;
    border: 0.1em solid black;      /*Color heredado de body (#261915)*/
    background-color: #e1dcdc;
    width: 18em;
    height: 20em;
}

/*
    Especificidad: (0, 0, 2) = 2
*/
article dt {
    font-weight: normal;
}

/*
    Especificidad: (0, 0, 1) = 1
*/
button {
    font-size: 1em;
}