/*Saúl Martín Fernández UO294936*/

/*
    Especificidad: (0, 0, 1) = 1
    (Section para las tarjetas de meteorología y noticias)
*/
section {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
    box-sizing: border-box;
}

/*
    Especificidad: (0, 0, 2) = 2
    (Tarjeta meteorología y noticia)
*/
section article {
    flex: 1 1 19%;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 0.2em 1em;
    gap: 0.1em;
    border: 0.2em solid #9A2F2D;        /*Color heredado de body (#261915)*/
    background-color: #e1dcdc;
    border-radius: 5%;
    height: 37em;
}

/*
    Especificidad: (0, 0, 3) = 3
    (Icono meteorología)
*/
article h4 + img {
    max-width: 50%;
    width: 12em;
    height: auto;
}
